*{
    padding: 0%;
    margin: 0%;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.space{
    aspect-ratio: 960/540;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.upside{
    z-index: 19;
    aspect-ratio: 960/150;
    width: 100%;
    height: 20vh;
    background-image: url(../public/svg/upsidedown.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spacer{
    background-image: url(../public/svg/rightone.svg);
}
nav{
    display: flex;
    justify-content: space-between;
}
.spacer ul{
    display: flex;
    list-style: none;
}
nav{
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    padding: 30px;
    transition: .4s;
}
nav ul li a:hover{
    color: black;
    background-color: white;
}
nav img{
    width: 4%;
    padding: 10px;
}
.centralText{
    position: absolute;
    text-align: center;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.centralText h1{
    font-size: 60px;
    animation: myAnimation 2s ease;
}
.centralText p{
    animation: myAnimation 1s ease;
}



@keyframes myAnimation{
    from{
        margin-left: -10000px;
    }
    to{
        margin-left: 0px;
    }
}
.jovan{
    font-size: 60px;
    text-align: center;
}
.cringe{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.oneCard{
    width: 30%;
    text-align: center;
}
.oneCard a img{
    transition: .4s;
    width: 15%;
}
.oneCard a img:hover{
    transform: scale(1.2);
}
.hand a img{
    width: 10%;
}
.cringe{
    margin-top: 30px;
}
.about{
    background-image: url(../public/svg/circle.svg);
    aspect-ratio: 960/150;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    position: relative;
    top: 60%;
    left: 50%;
    max-width: 40%;
    animation: name 4s ease;
    transform: translate(-50%,-50%)
}
.textabout p{
    border-radius: 5px;
    text-align: center;
}
@keyframes name {
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);transform: translate(-50%,-50%);
    }
}
.textabout h1{
    
    padding: 20px;
}
.textabout p{
    padding: 30px;
}
.flexbox{
    display: flex;
}
.flexbox img{
    width: 500px;
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%,-50%);
    animation: imganime 2s ease;
}
@keyframes imganime {
    0%{
        right: -1000%;
    }
    100%{
        right: -10%;
        transform: translate(-50%,-50%);
    }
}
.skilovi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills{    
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 500px;
    grid-gap: 12px;

}

.skill img{
    width: 100%;
    transition: .4s ease;
}

.skill img:hover{
    transform: translateY(100px);
    transform: scale(1.2);

}

.centre{
    transform: translateY(70px);
    text-align: center;
}

.contactme{
    aspect-ratio: 960/540;
    width: 100%;
    height: 100vh;
    background-image: url(../public/svg/jovani.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactme .textfoot{
    padding: 30px;
    background-color: gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    position: relative;
    top: 40%;
    left: 100%;
    text-align: center;
    transform: translateX(-70%);

}
.contactme .textfoot p,h1{
    background-color: transparent;
}
.textfoot p,h1{
    max-width: 700px;
}
.contactme footer{
    position: absolute;
    background-color: transparent;
    bottom: -350%;
    left: 50%;
    transform: translateX(-50%);
}
.contactme footer p{
    text-align: center;
    background-color: transparent;
}
.licnaSlika{
    border-radius: 50%;
    z-index: 1;
}
.FlexIkone{
    width: 100%;
    display: flex;
    justify-items: space-between;
    align-items: center;
}
.flexikona{
    width: 150px;
}